{deps, [
    grisp,
    grisp_cryptoauth,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "24.3.4.1"}
    ]},
    {platform, igrisp},
    {build, [
       {toolchain, [{directory, "/opt/grisp/grisp2-rtems-toolchain/rtems/5"}]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Users/sebastien/Workspace/Stritzinger/grisp/releases/grisp_demo/*"},
        {destination, "/Users/sebastien/Workspace/Stritzinger/grisp/releases/grisp_demo"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {grisp_demo, "0.1.0"}, [
        sasl,
        {epmd, none},
        grisp_demo,
        runtime_tools
    ]}
]}.
