{deps, [
    grisp,
    grisp_cryptoauth,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    grisp_updater, % Why is this even needed ?????
    grisp_updater_grisp2
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "23.3.4.4"}
    ]},
    {platform, grisp2},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {grisp_demo, "0.1.0"}, [
        sasl,
        {epmd, none},
        grisp_demo,
        runtime_tools,
        grisp_updater_grisp2
    ]}
]}.
