{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    certifi,
    grisp_updater_grisp2,
    grisp_connect
]}.

{erl_opts, [debug_info]}.

{plugins, [
    rebar3_grisp,
    rebar3_grisp_io
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
          %{"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp_demo"},
    {source_url, "https://github.com/grisp/grisp_demo"}
]}.

{grisp, [
    {otp, [{version, "27"}]},
    {platform, grisp2},
    {deploy, [
       {destination, "/Volumes/GRISP"},
       {pre_script, "rm -rf /Volumes/GRISP/*"},
       {post_script, "diskutil umount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {release, {grisp_demo, "0.3.0"}, [
        sasl,
        {epmd, none},
        grisp_demo,
        runtime_tools
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [{sys_config, "config/sys.config"}]}
    ]},
    {dev, [
        {relx, [{sys_config, "config/dev.config"}]}
    ]},
    {local, [
        {deps, [
            {grisp_emulation, "0.2.2"}
        ]},
        {overrides, [
            {add, grisp_cryptoauth, [{erl_opts, [{d, 'EMULATE_CRYPTOAUTH'}]}]},
            {add, grisp_updater, [{erl_opts, [{d, 'USE_UNSEALED_MANIFEST'}]}]},
            {add, grisp_updater_grisp2, [{erl_opts, [{d, 'EMULATE_HARDWARE'}]}]}
        ]},
        {shell, [
            {apps, [grisp_emulation, grisp_demo]},
            {config, "config/local.config"}
        ]}
    ]}
]}.
