[
    {grisp_cryptoauth, [
        {tls_server_trusted_certs, {priv, grisp_demo, "certificates/servers"}}
    ]},

    {grisp_updater, [
        {signature_check, false},
        {signature_certificates, {priv, grisp_demo, "certificates/updates"}},
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]},

    {grisp_connect, [
        {domain, "www.seawater.local"},
        {port, 8443}
    ]},

    {kernel, [
        {logger_level, notice},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                filters => [
                    % Filter out supervisor progress reports so
                    % TLS certificates are not swamping the console...
                    {filter_out_progress, {
                        fun grisp_connect_logger_bin:filter_out/2,
                        {supervisor, report_progress}}}
                ]
            }}
        ]}
    ]}
].
