[
    {grisp_cryptoauth, [
        {tls_server_trusted_certs_cb, {certifi, cacerts}}
    ]},

    {grisp_updater, [
        {signature_check, false},
        {signature_certificates, {priv, grisp_demo, "certificates/updates"}},
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]},

    {kernel, [{logger_level, notice}]}
].
