[
    {kernel, [
        % Disable 'default' handler (which buffers all log events in logger).
        {logger, [{handler, default, undefined}]}
    ]},
    {grisp_connect, [
        {logger, [
            % Enable the grisp_connect handler as default,
            % so that it will receive all events from boot
            {handler,
             default, % name
             grisp_connect_logger_bin, % module
             #{
                formatter => {grisp_connect_logger_bin, #{
                    % To see logs printed on the USB serial appoint a logger
                    % formatter module of your choice and set the stdout
                    % configuration stdout => {Formatter, FormatterConfig}
                    stdout => {logger_formatter, #{}}
                }}
             }
            }
        ]}
    ]},
    {grisp_updater, [
        {signature_check, false},
        {signature_certificates, {priv, grisp_demo, "certificates/updates"}},
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]}
].
